## Pandas
1. Great for Data analysis and replacement for spreadsheet program
2. First learned with R

In [ ]:
import pandas as pd
# all functions and modules as called as libary
#pandas as folder. "." as period entering into folder

In [ ]:
#data loading from csv
pd.read_csv('../Ram_learning_notebooks/2016-pydata-carolinas-pandas-master/data/gapminder.tsv',
           sep='\t')
#pressing tab will provide available folders

In [ ]:
#spreadsheet like object is called data frame ( r, julia)
df = pd.read_csv('../Ram_learning_notebooks/2016-pydata-carolinas-pandas-master/data/gapminder.tsv',
                sep = '\t')

In [ ]:
print(df)

In [ ]:
df.head(10) # prints only first 10 rows

In [ ]:
type(df) # build in command to check type of object

In [ ]:
# how many rows and columns. "." means within something or within data
df.shape # shape is not a function. its a attribute or variable
#it returns tuple.

In [ ]:
#look at the column names
df.columns # returns the column names

In [ ]:
#data types of columns
df.dtypes
#object - default(not to recongize) and general for string

In [ ]:
#silicing and subsetting the data. i.e., taking portion of data for analysis.
df['country'] # single or double bracket doesnt matter

In [ ]:
country_df = df['country']

In [ ]:
print(country_df.head())

In [ ]:
#multiple columns subsetting or list of columns
subset = df[['country','continent','year']]
# outer square bracket represent data frame
# inner square barcker represent list of columns
print(subset.head())

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
#index based on number -
#df[[1]] . this is not working . seperate functions came. iloc and loc. have to study
#index based on number is not recommended becoz column order may change

In [ ]:
# 3 different ways for subsetting

#type 1 - subset rows
#loc attribute - location
df.loc[0] # returns first row

In [ ]:
#subset 100th row
df.loc[99] #single row is a vector

In [ ]:
row_100 = df.loc[99]
type(row_100) # data frame is composed of series

In [ ]:
#df.loc[-1] # wont works. bcoz loc works by index. row name with -1 not exists

In [ ]:
#how to get last row
print(df.shape)
df.loc[df.shape[0]-1] # -1 bcoz python indexing starts with zero

In [ ]:
# 2 type of subsetting
# pulling by row number - iloc
df.iloc[0] # useful in case of timeseries data

In [ ]:
# 3rd way
df.ix[0] # depreciated and not using no more

In [ ]:
df.ix[0,1]

In [ ]:
df.loc[1:5,['country','year']] #subsetting rows 1:4 and column using label
# loc and iloc syntax - loc[rows, columns]
df.iloc[range(1,5),range(0,3)]  # subsetting based on indexing for rows and columns

In [ ]:
df.head()

In [ ]:
#average life expectancy for each year
#in excel called as pivot table
# group by year and take average expectancy
print(df.groupby('year')) # not doing anything. bcoz not saying anytjing
print(df.groupby('year')['lifeExp']) # returns series(a vector)
print(df.groupby('year')['lifeExp'].mean())

In [126]:
# group by multiple columns and stats over multiple columns
grouped_value = df.groupby(['year','continent'])['lifeExp','pop'].mean() 
grouped_value

                  lifeExp           pop
year continent
1952 Africa     39.135500  4.570010e+06
     Americas   53.279840  1.380610e+07
     Asia       46.314394  4.228356e+07
     Europe     64.408500  1.393736e+07
     Oceania    69.255000  5.343003e+06
1957 Africa     41.266346  5.093033e+06
     Americas   55.960280  1.547816e+07
     Asia       49.318544  4.735699e+07
     Europe     66.703067  1.459635e+07
     Oceania    70.295000  5.970988e+06
1962 Africa     43.319442  5.702247e+06
     Americas   58.398760  1.733081e+07
     Asia       51.563223  5.140476e+07
     Europe     68.539233  1.534517e+07
     Oceania    71.085000  6.641759e+06
1967 Africa     45.334538  6.447875e+06
     Americas   60.410920  1.922986e+07
     Asia       54.663640  5.774736e+07
     Europe     69.737600  1.603930e+07
     Oceania    71.310000  7.300207e+06
1972 Africa     47.450942  7.305376e+06
     Americas   62.394920  2.117537e+07
     Asia       57.319269  6.518098e+07
     Europe     70.775033  1.668784e+07
     Oceania    71.910000  8.053050e+06
1977 Africa     49.580423  8.328097e+06
     Americas   64.391560  2.312271e+07
     Asia       59.610556  7.225799e+07
     Europe     71.937767  1.723882e+07
     Oceania    72.855000  8.619500e+06
1982 Africa     51.592865  9.602857e+06
     Americas   66.228840  2.521164e+07
     Asia       62.617939  7.909502e+07
     Europe     72.806400  1.770890e+07
     Oceania    74.290000  9.197425e+06
1987 Africa     53.344788  1.105450e+07
     Americas   68.090720  2.731016e+07
     Asia       64.851182  8.700669e+07
     Europe     73.642167  1.810314e+07
     Oceania    75.320000  9.787208e+06
1992 Africa     53.629577  1.267464e+07
     Americas   69.568360  2.957096e+07
     Asia       66.537212  9.494825e+07
     Europe     74.440100  1.860476e+07
     Oceania    76.945000  1.045983e+07
1997 Africa     53.598269  1.430448e+07
     Americas   71.150480  3.187602e+07
     Asia       68.020515  1.025238e+08
     Europe     75.505167  1.896480e+07
     Oceania    78.190000  1.112072e+07
2002 Africa     53.325231  1.603315e+07
     Americas   72.422040  3.399091e+07
     Asia       69.233879  1.091455e+08
     Europe     76.700600  1.927413e+07
     Oceania    79.740000  1.172741e+07
2007 Africa     54.806038  1.787576e+07
     Americas   73.608120  3.595485e+07
     Asia       70.728485  1.155138e+08
     Europe     77.648600  1.953662e+07
     Oceania    80.719500  1.227497e+07

TypeError: 'memoryview' object is not callable

KeyError: 'the label [year] is not in the [index]'